In [10]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [11]:
import csv, sqlite3

In [12]:
con = sqlite3.connect("TESTDB.db")
cur = con.cursor()

In [13]:
%sql sqlite:///TESTDB.db

'Connected: @TESTDB.db'

In [14]:
import pandas

In [15]:
df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv")
df.to_sql("CENSUS_DATA", con, if_exists='replace', index=False,method="multi")

df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv")
df.to_sql("CHICAGO_CRIME_DATA", con, if_exists='replace', index=False, method="multi")

df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv")
df.to_sql("CHICAGO_PUBLIC_SCHOOLS", con, if_exists='replace', index=False, method="multi")

In [17]:
%%sql
SELECT *
FROM CHICAGO_CRIME_DATA 
limit 2;

   sqlite:///FinalDB.db
 * sqlite:///TESTDB.db
Done.

[(3512276, 'HK587712', '2004-08-28', '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 0, 0, 911, 9, 14.0, 58.0, '6', 1155838.0, 1873050.0, 2004, 41.8074405, -87.70395585, '(41.8074405, -87.703955849)'),
 (3406613, 'HK456306', '2004-06-26', '009XX N CENTRAL PARK AVE', '820', 'THEFT', '$500 AND UNDER', 'OTHER', 0, 0, 1112, 11, 27.0, 23.0, '6', 1152206.0, 1906127.0, 2004, 41.89827996, -87.71640551, '(41.898279962, -87.716405505)')]

In [20]:
%%sql
SELECT *
FROM CENSUS_DATA 
limit 2;

 * sqlite:///FinalDB.db
Done.

[(1.0, 'Rogers Park', 7.7, 23.6, 8.7, 18.2, 27.5, 23939, 39.0),
 (2.0, 'West Ridge', 7.8, 17.2, 8.8, 20.8, 38.5, 23040, 46.0)]

In [21]:
%%sql
SELECT *
FROM CHICAGO_PUBLIC_SCHOOLS 
limit 2;

 * sqlite:///FinalDB.db
Done.

[(610038, 'Abraham Lincoln Elementary School', 'ES', '615 W Kemper Pl', 'Chicago', 'IL', 60614, '(773) 534-5720', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Very Strong', 99.0, 'Very Strong', '99', 'Strong', 74.0, 'Strong', 66.0, 'Weak', '65', 'Strong', '70', 'Strong', '56', 'Average', '47', '96.00%', 2.0, '96.40%', '95.80%', '80.1', '43.3', '89.6', '84.9', '60.7', '62.6', '81.9', '85.2', '52', '62.4', '66.3', '77.9', 69.7, 64.4, 0.2, 0.9, 'Yellow', 'Green', '67.1', '54.5', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 813, 33, 'NDA', 1171699.458, 1915829.428, 41.92449696, -87.64452163, 7, 'LINCOLN PARK', 43, 18, '(41.92449696, -87.64452163)'),
 (610281, 'Adam Clayton Powell Paideia Community Academy Elementary School', 'ES', '7511 S South Shore Dr', 'Chicago', 'IL', 60649, '(773) 535-6650', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610281.pdf', 'Skyway Elementary Network', 'SOUTH SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 54.0, 'Strong', '66', 'Strong', 74.0, 'Very Strong', 84.0, 'Weak', '63', 'Strong', '76', 'Weak', '46', 'Average', '50', '95.60%', 15.7, '95.30%', '100.00%', '62.4', '51.7', '21.9', '15.1', '29', '42.8', '38.5', '27.4', '44.8', '42.7', '14.1', '34.4', 16.8, 16.5, 0.7, 1.4, 'Green', 'Green', '17.2', '27.3', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 521, 46, 'NDA', 1196129.985, 1856209.466, 41.76032435, -87.55673627, 43, 'SOUTH SHORE', 7, 4, '(41.76032435, -87.55673627)')]


#####  total number of crimes recorded in the CRIME table.

In [24]:
%%sql
select count(*) as total_number_of_crimes
from CHICAGO_CRIME_DATA

 * sqlite:///FinalDB.db
Done.

[(533,)]


##### List community areas with per capita income less than 11000.

In [25]:
%%sql
select COMMUNITY_AREA_NAME, PER_CAPITA_INCOME
from CENSUS_DATA
where PER_CAPITA_INCOME < 11000

 * sqlite:///FinalDB.db
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]


#####  all case numbers for crimes  involving minors

In [27]:
%%sql
select CASE_NUMBER
from CHICAGO_CRIME_DATA
where DESCRIPTION LIKE '%MINOR%'

 * sqlite:///FinalDB.db
Done.

[('HL266884',), ('HK238408',)]


##### all kidnapping crimes involving a child?

In [92]:
%%sql
select CASE_NUMBER, PRIMARY_TYPE
from CHICAGO_CRIME_DATA
where PRIMARY_TYPE = "KIDNAPPING"

 * sqlite:///FinalDB.db
Done.

[('HN144152', 'KIDNAPPING')]


##### What kinds of crimes were recorded at schools?

In [94]:
%%sql
select  PRIMARY_TYPE
from CHICAGO_CRIME_DATA
where LOCATION_DESCRIPTION like "%SCHOOL%"

 * sqlite:///FinalDB.db
Done.

[('BATTERY',),
 ('BATTERY',),
 ('BATTERY',),
 ('BATTERY',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',),
 ('PUBLIC PEACE VIOLATION',)]


#####  the average safety score for each type of school.

In [96]:
%%sql
select  "Elementary, Middle, or High School", avg(SAFETY_SCORE)
from CHICAGO_PUBLIC_SCHOOLS
group by "Elementary, Middle, or High School"

 * sqlite:///FinalDB.db
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]


#####  5 community areas with highest % of households below poverty line

In [97]:
%%sql
select COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY
from CENSUS_DATA
order by PERCENT_HOUSEHOLDS_BELOW_POVERTY desc
limit 5

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]


##### Which community area is most crime prone?

In [98]:
%%sql
select distinct COMMUNITY_AREA_NUMBER , count(COMMUNITY_AREA_NUMBER ) as most_crime_prone
from CHICAGO_CRIME_DATA
group by COMMUNITY_AREA_NUMBER 
order by count(COMMUNITY_AREA_NUMBER ) desc
limit 1

 * sqlite:///FinalDB.db
Done.

[(25.0, 43)]

Double-click **here** for a hint

<!--
Query for the 'community area number' that is most crime prone.
-->


##### Use a sub-query to find the name of the community area with highest hardship index

In [99]:
%%sql
select  COMMUNITY_AREA_NAME , HARDSHIP_INDEX
from CENSUS_DATA
where HARDSHIP_INDEX = (
    select max(HARDSHIP_INDEX)
    from CENSUS_DATA)

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 98.0)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [100]:
%%sql
select  COMMUNITY_AREA_NAME 
from CENSUS_DATA
where COMMUNITY_AREA_NUMBER = (
    select distinct COMMUNITY_AREA_NUMBER
    from CHICAGO_CRIME_DATA
    group by COMMUNITY_AREA_NUMBER 
    order by count(COMMUNITY_AREA_NUMBER ) desc
    limit 1)

 * sqlite:///FinalDB.db
Done.

[('Austin',)]